// variables
$lightDark: #282b3d;
$lightGrey: #efefef;
$grey: #555555;
$gitlabPurple: #292961;
$fontFamily: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
